*{
    margin: 0% auto;
    padding: 0%;
    box-sizing: border-box;
}
@media only screen and (min-width: 375px)  and (max-width: 400px){
    body{
        background-color: black;
        width: 100vw;
        font-size: 10px;
        
    }
    .header{
        width: 100%;
    }
        .nav{
            width: 100%;

            display: flex;
            align-items: center;
        }
            .h1{
                width: 10%;
            }
                .h1 img{
                max-width: 100%;
                }
            .lista{
                width: 90%;
                font-size: 10px;

                display: flex;
                
            }
                .lista li{
                    
                    padding: 1%;
                    color: transparent;
                    
                }
                .lista a{
                    text-decoration: none;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .lista form{
                    display: none;
                }
    .main{
        background-color: black;
        height: 100%;
    }
        .contenedor-videoprincipal{
            height: 600px;
            width: 100%;

            position: relative;
        }
            .contenedor-videoprincipal video{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                
                
            }
            .articuloprincipal{                    
                    height: 18%;
                    width: 50%;
                    
                    font-size: 9px;
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: black;
                    color: white;
                    
                    border: 1px solid white;

                    position: absolute;
                    right: 45%;
                    top: 70%;             
            }
                .articuloprincipal p{
                    
                    text-align: center;
                    font: 14px arial;

                    padding: 3%;

                }
                .articuloprincipal h2{
                    display: none;
                    font-size: 15px;
                    padding: 5%;
                }
                .articuloprincipal div{
                    text-align: center;
                    
                }            
                .articuloprincipal a{
                    width: 40%;
                    height: 17%;
                    margin-top: 3%;

                    
                    text-decoration: none;

                    display: block;
                    
                    color: black;
                    background-color: white;
                    border: 1px solid white;   
                }
        .seccion-eventos{
            width: 100%;
            height: 600px;
}
            .eventos-titulo{
                        padding: 5%;
                        color: white;
                        

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
            }
                .eventos-titulo a{
                        font-size: 12px;
                        text-decoration: none;
                        color: white;
                }
                .eventos-titulo p{
                    border: 1px solid white;

                }
                .eventos-titulo h2{
                    font-size: 18px;
                }
                .seccion-articulos{
                    height: 100%;
                    padding : 1%;
                    margin: 0;
                        
                    display: flex;
                    flex-wrap: wrap;
}
                    .seccion-articulos article{
                        
                        width: 46%;
                        height: 45%;                        
                        text-align: start;
                        color: black;
                        background-color: white;
                        
                    }
                    .seccion-articulos article span{
                        color: red;
                        background-color: rgb(214, 206, 206);
                    }
                        .seccion-articulos img{
                            width: 100%;
                            height: 70%;
                        }
                        .seccion-articulos h3{
                            font-size: 16px;
                        }
                        .seccion-articulos p{
                            font-size: 10px;
                        }
        .seccion-tienda{
            width: 100%;
            height: 600px;
            padding-top: 10%;
        }
            .tienda-titulo{
                padding: 3%;
                color: white;
                        

                display: flex;
                align-items: center;
                

            }
                .tienda-titulo h2{
                    font-size: 18px;

                }
                .tienda-titulo a{
                    font-size: 12px;
                    text-decoration: none;
                    color: white;

                }
                .tienda-titulo p{
                    border: 1px solid white;
                }
            .contenedor-articulotienda{
                height: 100%;
                padding : 1%;
                margin: 0;
                gap: 1%;
                    
                display: flex;
                flex-wrap: wrap;
            }
            .contenedor-articulotienda img{
                width: 180px ;
                height: 180px;
            }
            .contenedor-articulotienda a{
                text-decoration: none;
                color: white;
                text-align: start;
                font-size: 12px;
            }
        .seccion-sets{
            width: 100%;
            height: 500px;
        }
            .contenedor-titulosets{
                padding-top: 5%;
                padding-bottom: 5%;
                color: white;
                        

                display: flex;
                align-items: center;
            }
            .contenedor-titulosets h2{
                font-size: 18px;
            }
            .contenedor-titulosets a{
                font-size: 12px;
                text-decoration: none;
                color: white;
                
            }
            .contenedor-titulosets p{
                color: white;
                border: 1px solid white;
                
            }
            .contenedor-articulosets{
                height: 100%;
                padding : 0;
                margin: 0;
                gap: 0;
                    
                display: flex;
                flex-wrap: wrap;
                
            }
            .contenedor-articulosets img{
                width: 180px;
                height: 180px;
            }
            .contenedor-articulosets article{
                height: 35%;
                color: white;
                text-align: justify;

                font-size: 10px;
            }
    .footer{
        margin-top: 15%;
        background-color: rgb(26, 22, 22);
        padding: 4%;
    }
        .contenedor-titulo{
            margin: 2%;
            padding: 5%;

            color: white;
            text-align: justify;

        }
        .contenedor-titulo h2{
            font-size: 18px;
        }
        .contenedor-titulo form {
            padding: 5%;
            display: flex;
            flex-wrap: wrap;
            
            color: white;
        }     
        .contenedor-titulo label{
            font-size: 20px;
            padding: 10%;
        }
        .contenedor-titulo p{
            font-size: medium;
        }
        .contenedor-enlaces{
            margin: 2%;
            padding: 5%;
            gap: 10%;
            display: flex;
            
            text-align: start;
        }
        .contenedor-enlaces h3{
            font-size: 15px;
        }
        .contenedor-enlaces a{
            text-decoration: none;
            font-size: 15px;
            color: white;
        }
        .contenedor-enlaces article{
            color: white;
            margin: 3%;
            padding: 2%;
            
        }
        .contenedor-enlaces li{
            list-style-type: none;
            padding: 5%;
            
        }                                      
}
@media only screen and (min-width: 401px) and (max-width: 1024px) {
    body{
        background-color: black;
        width: 100vw;
    }
        .header{
            width: 100%;
        }
            .nav{
                display: flex;
                align-items: center;
            }
                .h1{
                    width: 7%;
                }
                    .h1 img{
                        max-width: 100%;
                    }
                .lista{
                    font-size: 24px;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    text-align: center;
                    gap: 15%;
                    margin-left: 1%;
                    padding-right: 10%;
                
                    
                    list-style-type: none;
                }
                .lista li{
                    flex: 1;
                    width: 10px ;
                }
                .lista a{
                    width: 30px;
                    text-decoration: none;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                
                }
                .lista input{
                    display: none;
                }
                .lista button{
                    display: none;
                }
    .main{
        background-color: black;
    }
        .contenedor-videoprincipal{
            
            max-width: 100%;
            height: 1100px;
        

        }
            .contenedor-videoprincipal video{
                height: 100%;
                width: 100%;
                object-fit:cover;
                object-position: center;
            
            
            }
            .articuloprincipal{
            height: 15%;
            width: 25%;   
            
                

            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
            color: white;
            text-align: center;

            position: absolute;
            left: 5%;
            bottom: 10%;
                
            }
                .articuloprincipal h2{
                padding-top: 10%;
                }
                .articuloprincipal p{
                margin-bottom: 3%;
                text-align: center;

                }
                .articuloprincipal div{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 35px;
                }            
                .articuloprincipal a{
                width: 100px;
                margin-bottom: 2%;
                height: 20px;
                font: 12px arial;
                text-decoration: none;
                display: block;
                color: black;
                text-align: center;
                background-color: white;
                border: 1px solid white;   
                }
        .seccion-eventos{
                width: 100%;
        }
                .eventos-titulo{
                        padding: 3%;
                        color: white;
        
                        display: flex;
                        align-items: center;
                        align-content: flex-start;
                }
                    .eventos-titulo a{
                        font-size: 24px;
                        text-decoration: none;
                        color: white;
                    }
                    .eventos-titulo p{
                        border: 1px solid white;
        
                    }
                    .eventos-titulo h2{
                        font-size: 40px;
                    }
                .seccion-articulos{
                        padding : 1%;
                        margin: 2%;
                        height: 400px;
                            
                        gap: 2%;
                        display: flex;
                        justify-content: space-between;
                }
                    .seccion-articulos article{
                            width: 40%;
                            height: 100%;
                            
                            
                            text-align: start;
                            color: black;
                            background-color: white;
                            
                    }
                    .seccion-articulos article span{
                            color: red;
                            background-color: rgb(214, 206, 206);
                    }
                    .seccion-articulos img{
                                width: 230px;
                                height: 230px;
                    }
                    .seccion-articulos h3{
                                font-size: 25px;
                    }
                    .seccion-articulos p{
                                font-size: 20px;
                    }
        .seccion-tienda{
                        width: 100%;
        }
            .tienda-titulo{
                            padding: 3%;
                            color: white;
                                    
            
                            display: flex;
                            align-items: center;
            }
                .tienda-titulo h2{
                                font-size: 40px;
            
                }
                .tienda-titulo a{
                                font-size: 24px;
                                text-decoration: none;
                                color: white;
                }
                .tienda-titulo p{
                                border: 1px solid white;
                }
            .contenedor-articulotienda{
                            display: flex;
                            padding: 2%;
                            margin: 0;
                            gap: 2%;
            }
                .contenedor-articulotienda img{
                            width: 230px ;
                            height: 250px;
                }
                .contenedor-articulotienda a{
                            text-decoration: none;
                            color: white;
                            text-align: center;
                            font-size: 24px;
                }
        .seccion-sets{
                    width: 100%;
        }
            .contenedor-titulosets{
                        padding: 3%;
                        color: white;
                                
        
                        display: flex;
                        align-items: center;
            }
                .contenedor-titulosets h2{
                        font-size: 40px;
                }
                .contenedor-titulosets a{
                        font-size: 24px;
                        text-decoration: none;
                        color: white;
                        
                }
                .contenedor-titulosets p{
                        color: white;
                        border: 1px solid white;
                        
                }
            .contenedor-articulosets{
                       display: flex;
        
                        padding: 2%;
                        margin: 0;
                        gap: 2%;
            }
                .contenedor-articulosets img{
                        width: 230px;
                        height: 230px;
                }
                .contenedor-articulosets article{
                        color: white;
                        text-align: justify;
        
                        font-size: 20px;
                }
    .footer{
                    background-color: rgb(26, 22, 22);
                    padding: 5%;
    }
        .contenedor-titulo{
                        margin: 2%;
                        padding: 5%;
            
                        color: white;
                        text-align: center;
        }
            .contenedor-titulo h2{
                        font-size: 36px;
            }
            .contenedor-titulo form {
                        
                
                font-size: 26px;
                padding: 5%;
                gap: 1%;
                color: white;
            }     
            .contenedor-titulo label{
                font-size: 30px;
            }
            .contenedor-titulo input{
                font-size: 25px;
                
            }
            .contenedor-titulo button{
                font-size: 25px;
            }
            .contenedor-titulo p{
                    text-align: justify;
                    padding: 2%;
                    font-size: 20px ;
            }
        .contenedor-enlaces{
                        padding: 5%;
                        
                        display: flex;
                        justify-content: space-between;
                        text-align: justify;
        }
            .contenedor-enlaces a{
                        text-decoration: none;
                        font-size: 24px;
                        color: white;
            }
            .contenedor-enlaces h3{
                font-size: 32px;
            }
            .contenedor-enlaces article{
                        color: white;
                        margin: 0;
                        padding: 0;
                        
            }
            .contenedor-enlaces li{
                        list-style-type: none;
                        padding: 3%;
            }       
}



