*{
    margin: 0% auto;
    padding: 0%;
    box-sizing: border-box;
}

@media only screen and (max-width: 400px){
    body{
        background-color: black;
        width: 100vw;
        
    }

    .header{
        width: 100%;
    }

        .nav{
            width: 100%;

            display: flex;
            align-items: center;
        }
            .h1{
                width: 15%;
            }
                .h1 img{
                max-width: 100%;
                }

            .lista{
                font-size: 12px;
                margin-right: 1%;
                display: flex;
                justify-content: space-around;
                width: 100%;
                gap: 2%;
            }
                .lista li{
                    
                    padding: 1%;
                    color: transparent;
                    
                }
                .lista a{
                    text-decoration: none;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                }
                .lista form{
                    display: none;
                }

    .main{
        background-color: black;
        height: 1420px;
    }
        .contenedor-videoprincipal{
            height: 120vw;
            width: 100%;
            
            
            position: relative;
            

        }
            .contenedor-videoprincipal video{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                
                
            }
                .articuloprincipal{
                    
                    height: 110px;
                    width: 200px;
                    

                    font-size: 9px;
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: black;
                    color: white;
                    text-align: center;

                    position: absolute;
                    right: 45%;
                    top: 70%;
                    
                }
                .articuloprincipal p{
                    padding-bottom: 20px;
                    text-align: center;

                }
                .articuloprincipal div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 35px;
                }

                
                .articuloprincipal a{
                    width: 100px;
                    height: 20px;
                    font: 12px arial;
                    text-decoration: none;
                    display: block;
                    color: black;
                    text-align: center;
                    background-color: white;
                    border: 1px solid white;   
                }
        .seccion-eventos{
            width: 100%;
}
            .eventos-titulo{
                        padding: 3%;
                        color: white;
                        

                        display: flex;
                        align-items: center;
                        align-content: flex-start;
            }
                .eventos-titulo a{
                        font-size: 12px;
                        text-decoration: none;
                        color: white;
                }
                .eventos-titulo p{
                    border: 1px solid white;

                }
                .eventos-titulo h2{
                    font-size: 18px;
                }
                .seccion-articulos{
                    padding : 1%;
                    margin: 2%;
                        
                    gap: 2%;
                    display: flex;
                    justify-content: space-between;
}
                    .seccion-articulos article{
                        text-align: start;
                        color: black;
                        background-color: white;
                        
                        
                    
                    }
                    .seccion-articulos article span{
                        color: red;
                        background-color: rgb(214, 206, 206);
                    }
                        .seccion-articulos img{
                            width: 180px;
                            height: 180px;
                        }
                        .seccion-articulos h3{
                            font-size: 16px;
                        }
                        .seccion-articulos p{
                            font-size: 10px;
                        }

        .seccion-tienda{
            width: 100%;
}
            .tienda-titulo{
                padding: 3%;
                color: white;
                        

                display: flex;
                align-items: center;
                

            }
                .tienda-titulo h2{
                    font-size: 18px;

                }
                .tienda-titulo a{
                    font-size: 12px;
                    text-decoration: none;
                    color: white;

                }
                .tienda-titulo p{
                    border: 1px solid white;
                }
            .contenedor-articulotienda{
                display: flex;
                padding: 2%;
                margin: 1%;
                gap: 2%;
            }
            .contenedor-articulotienda img{
                width: 180px ;
                height: 180px;
            }
            .contenedor-articulotienda a{
                text-decoration: none;
                color: white;
                text-align: center;
                font-size: 12px;
            }

        .seccion-sets{
            width: 100%;
        }
            .contenedor-titulosets{
                padding: 3%;
                color: white;
                        

                display: flex;
                align-items: center;
            }
            .contenedor-titulosets h2{
                font-size: 18px;
            }
            .contenedor-titulosets a{
                font-size: 12px;
                text-decoration: none;
                color: white;
                
            }
            .contenedor-titulosets p{
                color: white;
                border: 1px solid white;
                
            }
            .contenedor-articulosets{
               display: flex;


                padding: 2%;
                margin: 1%;
                gap: 2%;
                
            }
            .contenedor-articulosets img{
                width: 180px;
                height: 180px;
            }
            .contenedor-articulosets article{
                color: white;
                text-align: center;

                font-size: 10px;
            }

    .footer{
        background-color: rgb(26, 22, 22);
        padding: 5%;
    }
        .contenedor-titulo{
            margin: 2%;
            padding: 5%;

            color: white;
            text-align: center;

        }
        .contenedor-titulo h2{
            font-size: 18px;
        }
        .contenedor-titulo form {
            padding: 10%;
            gap: 5%;
            color: white;
        }
       
        .contenedor-titulo p{
            padding: 10%;
        }
        .contenedor-enlaces{
            padding: 2%;
            gap: 15%;
            display: flex;
            justify-content: space-between;
            text-align: start;
        }
        .contenedor-enlaces a{
            text-decoration: none;
            font-size: 15px;
            color: white;
        }
        .contenedor-enlaces article{
            color: white;
            margin: 3%;
            padding: 2%;
            
        }
        .contenedor-enlaces li{
            list-style-type: none;
            padding: 5%;
            
        }
        

                        
                        




}

@media only screen and (min-width: 401px) and (max-width: 1024px) {

}

















/* 
@media(min-width: 375px){
    .html{
        background-color: black;
    }
    .header{  
        width: 100vw;

        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black
    }

    .nav{ 
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        

    } 

    .h1{
        width: 15%;
        padding: 0;
        margin: 0;
    
    }
    
    .h1 img{
        max-width: 100%;
        max-height: 100%;
        
        
    }
    .lista-enlaces{
        display: block;
        color: white;
        
       
        
        
    }
    .lista{
        width: 85%;
        padding: 0;
        margin: 0;
        color: transparent;
        
        display: flex;
        justify-content: space-around;
        
        
    }
    .lista li{
        margin-right: 5px;
        width: 80px;

    }
    .lista li a{
        text-decoration: none;

    }

    .lista-formulario{
        color: white;
        padding: 0;
        margin: 0;
       
    }
    .lista-formulario input{
        display: none;
    }

    .lista-formulario label{
        display: inline;
        
    }
    .lista-formulario button{
        display: none;
    }
 EMPIEZO CON EL MAIN  EMPIEZO CON EL MAIN  EMPIEZO CON EL MAIN  EMPIEZO CON EL MAIN  

    .main{
        width: 100vw;
        background-color: black;

    }
    .contenedor-videoprincipal{
        max-width: 100%;
        max-height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Alinear el contenido al final del contenedor 
        align-items: flex-start; /* Alinear el contenido a la izquierda del contenedor 
        
        position: relative;
        
    }
    .contenedor-videoprincipal video{
        max-width: 100%;

        
    }

    .contenedor-articuloprincipal{
        color: white;
        max-width: 100%;
        max-height: 100%;
        margin-left: 1%;
        margin-bottom: 1%;

        position: absolute;
        
        
        
    }
    .articuloprincipal{
        
        
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        }
    .articuloprincipal button{
        margin-top: 1%;
    }



    .seccion-eventos{
        max-width: 100%;
        display: flex;
        flex-direction: column;


    }

    .seccion-eventos h2{
        max-width: 100%;
        padding: 1%;
        margin: 1%;
       
    
        color: white;

        

    }
    
    .seccion-eventos div{
        max-width: 100%;
        max-height: 100%;

        margin-right: 4%;
        padding: 2%;
        gap: 10px;
        
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        

    }
    .seccion-articulos{
        color: white;

        max-width: 100%;
    }
    .seccion-articulos article {
        max-width: 100% ;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

/*                      SECCION TIENDA 

    .seccion-tienda{
        max-width: 100%;
        color: white;
        padding: 2%;
        margin: 1%;

        
    }
    .tienda-titulo{
        margin: 1%;
        margin-right: 20%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contenedor-articulotienda{
        
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .contenedor-articulotienda a {
        text-decoration: none;
        color: white;

    }
   /*                  SECCION SETS 
    .seccion-sets{  
        max-width: 100%;

        

        display: flex;
        flex-direction: column;

    }
    .contenedor-titulosets{
        color: white;
        margin-right: 22%;
        margin-left: 4%;
        

        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .contenedor-articulos{
        color: white;
        
        margin: 1%;
        padding: 3%;
        gap: 10px;

        display: flex;
        justify-content: space-between;
        
        
    }


    /*                  FOOOTER 
    .footer{
        background-color: grey;
    }
    .contenedor-titulo{
        background-color: aliceblue;
    }
    .contenedor-titulo form{
        margin-right: 10%;
        padding: 3%;
        
    }
    .contenedor-titulo h2{
        margin-right: 10%;
        padding: 4%;

    }

    .contenedor-enlaces{
        display: flex;
        justify-content: space-around;
        align-content: center;

    }
    .contenedor-enlaces article a{
        text-decoration: none;
        color: black;

    }
   
*/



